.header{
    color: white;
    background: #2C2F33;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 3px 0;
    position: sticky;
    top: 0;
    z-index: 99;
}
.header-heading{
    color: white;
}
.nav-icons{
    font-size: 28px;
    color:white;
    text-align: center
}
.side-navbar{
    width: 60px;
    height: 100%;
    position: fixed;
    left: 0;
    background: #2C2F33;
    float: left;
    text-align: center
}
.logo img{
    max-width: 100px;
}
.project-name{
    border-left: 5px solid white;
}
.project-name h1{
    font-family: "Agency FB";
    font-size: 48px;
}
@media only screen and (max-width: 840px){
    .project-name h1{
        font-size: 36px;
    }
}
h2{
    font-family: 'Crimson Text', serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
span{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    width: 100%;
}
.main-body{
    width: 85%;
    margin: 20px auto
}
@media only screen and (max-width: 960px) {
    .main-body{
        width: 95%;
    }
}
main{
    width: 100%;
}
.owl-carousel .item{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto Light";
}

.dash-property{
    padding: 10px;
}
.dash-property{
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
}
.dash-property>p{
    margin: 0;
}
.analytic-1{
    width: 60%; float: left
}
.analytic-2{
    width: 40%; float: right
}
