{% extends 'navbar.html' %}
{% block content %}

<h1 align="center">Detailed View</h1>
<br>
<hr>
<div class="row">
    <div class="col-sm-4">
        <div class="well" style="width: 100%; height: 1000px; margin-left: 100px;">
            <oracle-dv project-path="/@Catalog/users/fzaheer.bscs19seecs@seecs.edu.pk/Fahad Zaheer"
                       active-page="canvas"
                       active-tab-id="2">
            </oracle-dv>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well" style="width: 900px; height: 700px; margin-left: 100px;">
            <oracle-dv project-path="/@Catalog/users/fzaheer.bscs19seecs@seecs.edu.pk/Fahad Zaheer"
                       active-page="canvas"
                       active-tab-id="1">
            </oracle-dv>
        </div>
    </div>

</div>
{% endblock %}