{% extends 'navbar.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row content">
        <br>

         <div class="col-sm-9">
            <div class="well">
                <h4>Dashboard</h4>
                <p>Some text..</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well" style="width: 200px; height: 200px;">
                        <i class="fas fa-user-friends" style="font-size:120px; color: yellow"></i>
                        <p>1 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well" style="width: 200px; height: 200px;">
                        <i class="fas fa-chart-bar" style="font-size:120px; color: red"></i>
                        <p>100 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well" style="width: 200px; height: 200px;">
                        <i class="fas fa-info-circle" style="font-size:120px; color: deepskyblue"></i>
                        <p>10 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="well" style="width: 900px; height: 700px;">
                        <oracle-dv project-path="/@Catalog/users/fzaheer.bscs19seecs@seecs.edu.pk/Qasim">
                        </oracle-dv>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well" style="width: 400px; height: 400px; margin-left: 600px;">
                        <oracle-dv project-path="/@Catalog/users/fzaheer.bscs19seecs@seecs.edu.pk/Qasim"
                                   active-page="canvas" active-tab-id="7">
                        </oracle-dv>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}